* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.addItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  align-items: center;
  width: 100vw;
}
.menuItem {
  height: 80vh;
  border: solid 1px black;
  margin-top: 5px;
}
.addMenu {
  border: solid 1px black;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menuImage {
  height: 85%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid black;
}
.menuInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 10px 15px 0px 15px;
  margin-bottom: 15px;
  height: 5%;
}
.addToCartButton {
  width: 50%;
  background-color: black;
  color: WHITE;
  border: black 1px solid;
  letter-spacing: 2px;
  font-weight: 400;
}
.addToCartButton:hover,
.buyButton:hover {
  background-color: white;
  color: black;
}
.buyButton {
  width: 50%;
  background-color: black;
  color: white;
  border: black 1px solid;
  letter-spacing: 2px;
  font-weight: 400;
}
.buttonContainer {
  height: 7%;
  width: 100%;
  display: flex;
  gap: 5px;
}
.addButton {
  height: 50px;
  background-color: black;
  color: white;
  border: #dc3545;
  letter-spacing: 2px;
  font-weight: 400;
}

@media screen and (max-width: 1220px) {
  .addItem {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .addItem {
    grid-template-columns: repeat(1, 1fr);
  }
}
